/* @font-face {
    font-family: vazir;
    src: 
    url("../font/IRANYekanX-Regular.woff") format("woff"),
    url("../font/IRANYekanX-Regular.woff2") format("woff2"),
    url("../font/IRANYekanX-Regular.ttf") format("ttf");
} */

@font-face {
    font-family: 'IranYekanX';
    src:
    url("../font/IRANYekanX-Regular.woff") format("woff"),
    url("../font/IRANYekanX-Regular.woff2") format("woff2"),
    url("../font/IRANYekanX-Regular.ttf") format("ttf");
}

:root {
    --whiteColor: #fff ;
    --subColor: #324849 ;
    --subHoverColor: #507274 ;
    --tableBTN: #a81d13 ;
    --tableBTNhover: #a83a32 ;
    --boxShadowColor: #00000054 ;
    --BlackColor: #000 ;
}

#add-user-form {
    width: 80%;
    height: 100%;
    padding-bottom: 40px;

}

#add-user-form table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

#add-user-form table tr{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#add-user-form table td {
    width: 50%;
    border: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    position: relative;
}

#add-user-form table td input {
    width: 99%;
    padding: 7px 13px;
    border-radius: 3px;
    font-size: 16px;
    border: 0;
    font-weight: 200;
    border-bottom: 3px solid var(--whiteColor);
    transition: all .2s;
}

#add-user-form table td input:focus {
    box-shadow: 0px 0px 5px var(--boxShadowColor);
    border-bottom: 3px solid #818181;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0; /* Optional, remove any default margin */
  -moz-appearance: none;
}

#add-user-form table td label {
    font-size: 15px;
    font-weight: 300;
    padding-top: 7px;
}

#add-user-form table td select{
    position: absolute;
    width: 91%;
    height: 65%;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 16px;
    border: 0;
    font-weight: 200;
    transform: translateY(50%);
    bottom: 50%;
    background-color: var(--whiteColor);
}

#add-user-form table td select option {
    font-family: IranYekanX;
}



#add-user-form table td [type=submit]{
    background: var(--subColor);
    color: var(--whiteColor);
    border: 0;
    height: 45px;
}

#add-user-form table td [type=submit]:hover{
    background: var(--subHoverColor);
    cursor: pointer;
}

#add-user-form table td [type=number] {
    -webkit-text-size-adjust: none;
}

#add-user-form table td button {
    position: absolute;
    width: 91%;
    height: 70%;
    background: var(--tableBTN);
    color: var(--whiteColor);
    padding: 5px 10px;
    border-radius: 3px;
    border: 0;
    font-size: 16px;
    font-weight: 200;
    transform: translateY(50%);
    bottom: 50%;
    transition: all .2s;
}

#add-user-form table td button:hover {
    background: var(--tableBTNhover);
    cursor: pointer;
}

#widget {
    width: 30%;
    padding: 0px 10px 6px 10px;
}

#widget input {
    width: 100%;
    border: 0;
    text-align: end;
    background: none;
    padding: 10px 5px;
    font-size: 15px;
    font-weight: 300;
    color: var(--BlackColor);
}

/* Toolbar */

#toolsbar {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#toolsbar input {
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
    border: 0;
    box-shadow: inset 3px 3px 7px #00000027;
}

#toolsbar a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: 300;
    background: var(--subColor);
    font-size: 14px;
    transition: all .2s;
}

#toolsbar a:hover{
    cursor: pointer;
    background: var(--subHoverColor);
}

.all-table {
    width: 90%;
    height: fit-content;
    font-size: 13px;
    border-collapse: collapse;
    margin-top: 20px;
}

.all-table tr th{
    padding: 5px 10px;
    font-family: IranYekanX;
    font-weight: 300;
}

.all-table tr td , .all-table tr th {
    border: 1px solid #888888;
    text-align: center;
    padding-right: 6px;
    padding-left: 6px ;
}